.navbar {
    background-color: #004c82;
  
  }
  .navbar-brand{
    margin-left: 20px;
  }
  .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }
  .navbar-nav .dropdown-menu {
    background-color: white;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
  .navbar-nav .dropdown-menu a {
    color: #333;
  }
  .navbar-nav .nav-link i {
    font-size: 1.5rem;
    margin-right: 8px;
  }
  .navbar-nav .nav-item:hover .nav-link,
  .navbar-nav .dropdown-menu a:hover {
    color: #ffb400;
  }
  .footer-section {
    font-weight: bold;
    margin-bottom: 10px;
}
.footer-link {
    color: #333;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}
.footer-link:hover {
    text-decoration: underline;
}